.toggle-button-line {
  --toggle-padding-left: calc(var(--space) * 0.75);

  display: flex;
  padding:
    var(--toggle-padding-left)
    calc(var(--space) * 2)
    var(--toggle-padding-left)
    var(--space);
  border-radius: calc(var(--space) * 5);
  border: 1px solid var(--border-color);
  background: none;
  outline: none;
  font-size: 1rem;
  align-items: flex-end;
  position: relative;
  font-family: var(--font-family);
  color: var(--color);
}

.toggle-button-line:before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  display: inline-block;
  margin-right: var(--space);
  box-sizing: border-box;
  border: 2px solid var(--bg-color-icon);
  transition: all var(--duration-animation) ease-out;
}

.toggle-button-line[data-value="true"]:before {
  border-width: 0.65rem;
  background-color: var(--bg-color-icon);
}

@keyframes onClickAfter {
  from {
    opacity: 1;
    top: 6px;
    left: 8px;
    width: 1.3rem;
    height: 1.3rem;
  }

  to {
    width: 5rem;
    height: 5rem;
    top: -1.5rem;
    left: -1.4rem;
    opacity: 0;
  }
}

.toggle-button-line:after {
  position: absolute;
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  display: inline-block;
  margin-right: var(--space);
  box-sizing: border-box;
  border: 0.6rem solid #78909C;
  opacity: 0;
  top: 6px;
  left: 8px;
}

.toggle-button-line[data-click="true"]:after {
  animation: onClickAfter var(--duration-animation) ease-in-out;
}
