html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  padding: 16px 16px;
}

#chart-header {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.5rem;
}

#chart-content canvas {
  width: 100%;
}

#chart-toggler {
  display: flex;
}

#chart-toggler > *:not(:first-child) {
  margin-left: 16px;
}
